{
    "comments": false,
    "minified": true,
    "env": {
        "production": {
            "presets": [
                "minify"
            ]
        }
    },
    "presets": [
        "react",
        [
            "env",
            {
                "targets": {
                    "browsers": [
                        "defaults"
                    ]
                },
                "modules": false
            }
        ]
    ],
    "plugins": [
        "transform-class-properties",
        "syntax-dynamic-import",
        "react-loadable/babel"
    ]
}
