@import './style/react-yearly-calendar';
@import './style/bootstrap';

html,
body,
#root,
.root-container {
    width: 100%;
    height: 100%;
}

#root .navbar {
    margin: 0;
}

.root-container {
    display: flex;
    flex-direction: column;
}

.main-container {
    flex: 1 1 auto;
    position: relative;
    overflow-y: auto;
    margin-bottom: 0;

    display: flex;
    flex-direction: column;
}

.chartjs-container {
    position: relative;
    height: 20rem;
    width: 100%;
}

.footer {
    .alert {
        margin-bottom: 0;
    }
}
